.selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
        margin: 0 20px;
        width: 200px;
        text-align: center;
    }

    i {
        cursor: pointer;
    }
}
