
<section class="login">
    <div class="login__bc-modal"></div>
    <div class="login__modal">
        <div class="form">
            <form class="form__content">
                <div class="form__control">
                    <label for="email">Email</label>
                    <input
                        id="email"
                        type="email"
                        placeholder="email"
                    >
                    <div>
                        Error
                    </div>
                </div>
                <div class="form__control">
                    <label for="password">Password</label>
                    <input
                        id="password"
                        type="password"
                        placeholder="password"
                    >
                    <div>
                        Error
                    </div>
                </div>
                <div class="form__btn">
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</section>
