@import 'src/helpers/variables';

.main-layout {
    position: relative;
    background-color: $color-bg-accent;

    &__wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__container {
        max-width: 850px;
        min-height: 800px;
        margin: 0 auto;
        padding: 50px 100px;
        background-color: $color-bg-primary;
    }
}

