<nav class="nav-bar">
    <div class="nav-bar__bar">
        <ul>
            <li
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <a
                    [routerLink]="['/']"
                >
                    Tasks
                </a>
            </li>
            <li routerLinkActive="active">
                <a
                    [routerLink]="['/create']"
                >
                    Create Task
                </a>
            </li>
        </ul>
    </div>
</nav>
